@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

.base-transition {
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 200ms;
  opacity: 1;
  transform: scale(1);
}

.base-transition:hover {
  transform: scale(1.0125);
}

.base-transition:active {
  opacity: 0.5;
  transform: scale(0.975);
}

/* Custom scrollbar styles */
.scrollbar-style::-webkit-scrollbar {
  width: 0.5rem; /* Adjust the width of the scrollbar */
}

.scrollbar-style::-webkit-scrollbar-track {
  background-color: transparent; /* Track background */
}

.scrollbar-style::-webkit-scrollbar-thumb {
  background-color: rgba(
    255,
    255,
    255,
    0.3
  ); /* Thumb color and initial opacity */
  border-radius: 9999px; /* Roundness of the scrollbar thumb, similar to Tailwind's full rounded */
}

.scrollbar-style::-webkit-scrollbar-thumb:hover {
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Thumb color and hover opacity */
}

.scrollbar-style::-webkit-scrollbar-thumb:active {
  background-color: rgba(255, 255, 255, 1); /* Thumb color and active opacity */
}

/* Media query to disable hover effect below md breakpoint */
@media (max-width: 767px) {
  .base-transition:hover {
    transform: scale(1); /* Reset transform on hover */
  }
  .base-transition:active {
    opacity: 0.5;
    transform: scale(0.975);
  }
}
